# Ignore environment files
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
env/

# IDE/editor configs
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Build/test artifacts
dist/
build/
.eggs/
*.egg-info/
